/* Minimal placeholder for Tvattlinje Statistik page */
.tvattlinje-statistik-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
