.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
}

.go-back-bottom-left {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 2000;
}

.mini-tvattlinje-live {
  max-width: 420px;
  margin: 0 auto;
  transform: scale(0.95);
  transform-origin: top center;
  width: 100%;
}

@media (min-width: 992px) {
  .mini-tvattlinje-live {
    max-width: 420px;
    margin: 0 auto;
    transform: scale(0.85);
  }
}
