[Unit]
Description=Reverse SSH Tunnel Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ssh -p 32546 -N -T -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -o ExitOnForwardFailure=yes -R 42225:localhost:22 root@207.2.123.136
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
